*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* inizio header */
header{
    height: 600px ;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}
/* nav nell'header */

nav{
    width: 70%;
    margin:auto;
    
    
}
.logo{
   margin-top: 20px; 
   display: inline-block;
   float: left;
   margin-right: 120px;
    
}
li{
    display: inline-block;
    float: left;
    margin-top:25px ;
    margin-left:50px ;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
    
}
.accedi{
    background-color: #fff;
    color: black;
    padding: 12px;
    margin-left: 130px;
    
    margin-top: 20px;
    border-radius: 40px;
    
    padding: 9px 16px;
    
   
}
.accedi a{
    text-decoration: none;
    color: black;

}

/* header text */
.header-text{
    text-align: center;
    margin-top:150px ;
    font-size: 50px;
    margin-bottom: 25px;
    color:white;
   
    
}
.header-sottotitolo{
    
    text-align: center; 
    max-width: 39%; 
    margin: auto;
    color: white;
    line-height: 27px;
}
  .header-text-button-sx a{
    margin-left: 510px;
    background-color: white;
    color: black;
    border-radius: 28px;
    font-size: 15px;
    padding: 16px;
}
/* jumbotrone button */
.mac{
    padding: 8px;
}
 li a{
    text-decoration: none;
    color: white;
    
    
   
}
.header-text-button-dx a{
background-color: black;
color:white;
border-radius: 28px;
font-size: 15px;
padding: 15px ;
margin-left: -20px;
}
/* inizio prima sezione */
.foto-rana{
    margin-top: 120px;
    margin-left: 200px;
}
.rana-text{
    max-width: 370px;
    font-size: 40px;
    margin-top: -410px;
    margin-left: 950px;
}
.rana-sottotitolo{
    max-width: 370px;
    font-size: 17px;
    margin-top: 20px;
    
    margin-left: 950px; 
    line-height: 22px;
}



/* inizio footer */
.chiusura-pagina{
    margin-top: 100px;
    height: 800px;
    width: 100%;
    background-color: black;
    position: relative;
}
/* parte sinistra */
.parte-sinistra{
    position: absolute;
    top: 10%;
    left: 12%; 
}
.footer-sx{
   color:#7289DA;
  
   font-size: 35px;
  
}
.bandiera{
 margin-top: 25px;
 height: 20px;
 vertical-align: bottom;
}
.ita{
    color: white;
    height: 20px;
    
   display: inline-block;
    
}
/* icone */
.twitter{
    color: white;
  
    margin-top: 10px;
    
    
   display: inline-block;
   
}
.instagram{
    color: white;
   
    margin-top: 20px;
    margin-left:20px;
}
.facebook{
    color: white;
   
    margin-top: 20px;
    margin-left:20px; 
}
.youtube{
    color: white;
   
    margin-top: 20px;
    margin-left:20px;  
}
/* inizio liste */
.prodotto li{
    
    display: block;
    
   padding: 0 45px;
   margin-top: 100px;
   color:#7289DA; 
}
.lista{
    margin-left: 550px;
    margin-top: 50px;
}
#lista-2{
    position: absolute;
    top: 30px;
    left: 500px;
    color: white;
    padding-top: 20px;
    line-height: 40px;
}
#lista-3{
    position: absolute;
    top: 30px;
    left: 700px;
    color: white;
    padding-top: 20px;
    line-height: 40px;  
}
#lista-4{
    position: absolute;
    top: 30px;
    left: 920px;
    color: white;
    padding-top: 20px;
    line-height: 40px;  
}
#lista-5{
    position: absolute;
    top: 30px;
    left: 1117px;
    color: white;
    padding-top: 20px;
    line-height: 40px;  
}
/* logo footer */
.footer-logo{
    
    position: absolute;
    top: 1900px;
    margin-left: 30px;
}
/* spazop finale */
.footer-end{
    position: absolute;
    top: 1900px;
    margin-left: 1350px;
    
    background-color: #7289DA; 
    padding: 15px; 
    border-radius: 28px;
}
.footer-end a{
    text-decoration: none;
    color: white;
    
}
